- breadcrumb :item_name, @item

//商品情報
%section.item-show-container
  %h1.item-name
    = @item.name
  .item-main-content
    .item-photo
      .owl-carousel
        .owl-stage-outer
          .owl-stage
            .owl-item.active
              .owl-inner
                - @images.each do |image|
                  =image_tag (image.image.url)
        .owl-dots
          = render partial: "image", collection: @images

    %table.item-detail-table
      %tbody
        %tr
          %th 出品者
          %td
            = link_to"#{@item.user.nickname}", items_path, class: "seller-name"
        %tr
          %th カテゴリー
          %td
            = link_to items_path, class: "top" do
              = @large_category.name

            = link_to items_path, class: "middle" do
              %i.fas.fa-angle-right
              = @medium_category.name

            -if @small_category_depth.present?
              = link_to items_path, class: "bottom" do
                %i.fas.fa-angle-right
                = @small_category.name

        %tr
          %th ブランド
          %td
            = link_to "#{@item.brand.name}", items_path, class: "brand" if @item.brand.present?
        %tr
          %th 商品のサイズ
          %td
            = @item.size.name if @item.size.present?
        %tr
          %th 商品の状態
          %td
            = @item.condition_i18n
        %tr
          %th 配送料の負担
          %td
            = @item.shipping_fee_i18n
        %tr
          %th 配送の方法
          %td
            = @item.shipping_way_i18n
        %tr
          %th 配送元地域
          %td
            = link_to "#{@item.shipping_from_i18n}", items_path, class: "prefecture"
        %tr
          %th 発送日の目安
          %td
            = @item.shipping_date_i18n

  .item-price-box
    %span.price
      = "¥" + number_with_delimiter("#{@item.price}")
    %span.tax （税込）
    %span.shipping-fee
      = @item.shipping_fee_i18n

  .item-description
    %p.item-description-inner
      = @item.description

//出品オプション
.listing-item-change-box
  = link_to "商品の編集", "/items/#{@item.id}/edit", class: "btn-red btn-default"
  %p.text-center or
  .btn-gray.btn-default 出品を一旦停止する
  = link_to "この商品を削除する", "", id: "modal-open",class: "btn-gray btn-default"

//コメントゾーン
.item-detail-message.option-last
  .message-container
    //コメント一覧
    .message-content
      = render @comments
    //コメント投稿部分
    .message-content
      %p
        相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      = form_with url: "/items/#{@item.id}/comments" do |f|
        = f.text_area :text, class: 'comment-form'
        = f.submit "コメントする", class: 'comment-btn'


//modalウィンドウ
%aside.modal.is-show.is-animate
  .modal-inner.modal-banner
    .modal-body
      .modal-head.bold 確認
      削除すると二度と復活できません。
      %br 削除する代わりに停止することもできます。
      %br
      %br 本当に削除しますか？
    .modal-box
      .modal-btn.modal-btn-cancel キャンセル
      = link_to "削除する", "/items/#{@item.id}", id: "modal-open",class: "modal-btn modal-btn-submit", method: :delete
